flask==3.0.3
flask-sqlalchemy==3.1.1
flask-migrate==4.0.7
sqlalchemy==2.0.36
requests==2.32.3
scikit-learn==1.5.2
numpy==1.26.4
pandas==2.2.3
python-dotenv==1.0.1
gunicorn==23.0.0
psycopg2-binary==2.9.10
joblib==1.4.2
Werkzeug==3.1.3
